{% extends "security/base.html" %}
{% block title %}Login{% endblock title %}
{% from "security/_macros.html" import render_field_with_errors, render_form_errors, prop_next %}
{% block content %}
{% include "security/_menu.html" %}
{% include "security/_messages.html" %}
<div class="mx-auto text-center" style="width: 17%;padding-top:10%">
  <div class="rounded border border-dark" style="background-color: rgba(252, 247, 247, 0.6);">
    <h1>{{ _fsdomain('Login') }}</h1>
    <form class="mb-3" action="{{ url_for_security('login') }}{{ prop_next() }}" method="post" name="login_user_form">
      {{ login_user_form.hidden_tag() }}
      {{ render_form_errors(login_user_form) }}
      {{ render_field_with_errors(login_user_form.username,required=True,minlength="4") }}
      {{ render_field_with_errors(login_user_form.password,minlength="8",maxlength="32") }}
      {{ render_field_with_errors(login_user_form.remember) }}
      <div class="fs-gap">
        {{ login_user_form.submit(class="btn btn-dark")}}
      </div>
    </form>
  </div>
</div>
{% endblock content %}