{%extends "admin/base.html"%}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="text-center">
  <h1>Librarian Dashboard</h1>
  <br>
  <div class="row mb-3">
    <div class="col">
      <h5>Number of Users registered<br>{{user}}</h5>
    </div>
    <div class="col">
      <h5>Number of Sections present<br>{{section}}</h5>
    </div>
  </div>
  <div class="row mb-3"></div>
  <div class="row mb-3">
    <div class="col">
      <h5>Number of Books present<br>{{book}}</h5>
    </div>
    <div class="col">
      <h5>Number of Times Books issued<br>{{ibook}}</h5>
    </div>
    <div class="col">
      <h5>Number of Books purchased<br>{{pbook}}</h5>
    </div>
  </div>
  <img src="/static/graph.png">
</div>
{% endblock %}