{%extends "admin/base.html"%}
{% from "fielderrormessage.html" import render_with_errors %}
{% block title %}Admin Issue/Revoke{% endblock %}
{% block content %}
<a href="/admin/users" style="color:black;text-decoration: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
        height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
    </svg>Go Back</a>
<br><br>
<h1>Issue/Revoke</h1>
<br>

<div class="row mb-3">
    <div class="col-2">User name</div>
    <div class="col-2">{{u["username"]}}</div>
</div>
<div class="row mb-3">
    <div class="col-2">User type</div>
    <div class="col-2">{%if u.has_role("Member")%} Subscribed member{%else%} Normal member{%endif%}</div>
</div>
<div class="row mb-3">
    <div class="col-2">Issue limit</div>
    <div class="col-2">{%if u.has_role("Member")%} 10{%else%} 5{%endif%}</div>
</div>
<div class="row mb-3">
    <div class="col-2">Current issue</div>
    {%set present=namespace(iterate=false)%}
    <div class="col">
        {%for b in u.issue%}
        {%if b.return_status==0%}
        {%set present.iterate=true%}
        <div class="row">
            <div class="row"><a href="/admin/books/{{b['book_id']}}">{{b.book["name"]}}</a></div>
            <div class="row"><span>Return Date:{{b["return_date"]}}</span></div>
        </div>
        {%endif%}
        {%endfor%}
        {%if not present.iterate%}<p class="text-muted">No currently issued book.</p>{%endif%}
    </div>
</div>
{%if form.revoke or form.issue%}
<form method="POST">
    {{ form.hidden_tag() }}
    {%if form.issue%}{{render_with_errors(form.issue,"col-3",class="multiselect form-select")}}{%endif%}
    {%if form.revoke%}{{render_with_errors(form.revoke,"col-3",class="multiselect form-select")}}{%endif%}
    {{form.submit(class="btn btn-outline-success")}}
</form>
{%endif%}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">
    $('.multiselect').select2({
        theme: 'bootstrap-5'
    });
</script>


{%endblock%}