bcrypt==4.1.2
Flask==3.0.0
Flask-Migrate==4.0.5
Flask-Security-Too==5.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
matplotlib==3.8.2
WTForms==3.1.2
zxcvbn==4.4.28
bleach==6.1.0
celery[redis]==5.4.0