{%extends "base.html"%}
{% from "fielderrormessage.html" import render_with_errors %}
{% block title %}Account details{% endblock %}
{% block content %}
<h1>User details</h1>
<br>
<div class="row mb-3">
    <div class="col-2">User Name:</div>
    <div class="col">{{current_user.username}}</div>
</div>
<div class="row mb-3">
    <div class="col-2">User Email:</div>
    <div class="col">{{current_user.email}}</div>
</div>
<div class="row mb-3">
    <div class="col-2">Last login at:</div>
    <div class="col">{{current_user.last_login_at}}</div>
</div>
<div class="row mb-3">
    <div class="col-2">Last login ip:</div>
    <div class="col">{{current_user.last_login_ip}}</div>
</div>
<div class="row mb-3">
    <div class="col-2">Membership type:</div>
    <div class="col">{%if current_user.has_role("Admin")%} Admin/Librarian
        {%elif current_user.has_role("Member")%} Subscribed member
        {%else%} Normal member
        {%endif%}</div>
</div>
{%if current_user.has_role("Admin")%}
{%else%}
<br><br>
<h1>Payment details</h1>
<br>
<form method="POST">
    {{ form.hidden_tag() }}
    {{render_with_errors(form.cardno,class="form-control",pattern="[0-9]{12,19}",title="12 to 19 digits long
    number",placeholder="XXXXXXXXXXXX")}}
    {{render_with_errors(form.cardname,class="form-control",pattern="[a-zA-Z]*",title="English alphabets
    only!",placeholder="Name on card")}}
    {{render_with_errors(form.expirydate,class="form-control",type="month")}}
    {{form.submit(class="btn btn-outline-success")}}
</form>
<br><br><br>

<h1>Membership Section</h1>
<br>
{%if current_user.has_role("Member") %}
You are a lifetime subscribed member of the library. So enjoy all the <a href="/policies">benefits</a>!!
{%else%}
Become a lifetime subscribed member of the library!!
And enjoy <a href="/policies">much more benefits.</a> Just at &#8377 1000!!<br><br>
<button style="margin-left: 0.5%;" class="btn btn-outline-success" data-bs-toggle="modal"
    data-bs-target="#confirmModal">Click
    here to become a
    member.</button>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmModalLabel">Purchase confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to complete the membership purchase?<br>
                <em><strong>Note:</strong> &#8377 1000 is going to be deducted from your card.</em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="/membership"><button type="button" class="btn btn-success">Confirm</button></a>
            </div>
        </div>
    </div>
</div>
{%endif%}

<br><br><br><br>
<h1>Delete your account</h1>
<br>
If you want to delete your account, click on the button below. But be sure as account deletion is a permanent
proces.<br><br>
<a href="/user/confirmation/delete" style="margin-left: 0.5%;"><button
        class="btn btn-outline-danger">Delete</button></a>
{%endif%}
{% endblock %}