{%extends "base.html"%}
{% block title %}Ratings{% endblock %}
{% block content %}
<div>
  <h1>Ratings Given</h1>
  <br>
  {%if not urating%}
  <p class="text-muted">
    You have not yet rated any book.</p>
  {%else%}
  <div class="row">
    <div class="col-1"><strong>S.no</strong></div>
    <div class="col"><strong>Book Name</strong></div>
    <div class="col"><strong>Section Name</strong></div>
    <div class="col"><strong>Author Name</strong></div>
    <div class="col"><strong>Rating</strong></div>
    <div class="col"><strong>View Button</strong></div>
    <div class="col"><strong>Delete Button</strong></div>
  </div>
  <hr>
  {%for b in urating%}
  <div class="row">
    <div class="col-1">{{loop.index}}.</div>
    <div class="col"><a href="/book/{{b['book_id']}}">{{b.book["name"]}}</a></div>
    <div class="col">{{b.book.section["name"]}}</div>
    <div class="col">{{b.book["author"]}}</div>
    <div class="col">{{b["rating"]}}
    </div>
    <div class="col"><button class="btn btn-info" data-bs-toggle="modal"
        data-bs-target="#viewModal{{b['id']}}">View!</button>
    </div>
    <div class="modal fade" id="viewModal{{b['id']}}" tabindex="-1" aria-labelledby="viewModal{{b['id']}}Label"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="viewModal{{b['id']}}Label">Rating Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <div class="col">Rating</div>
              <div class="col">{{b["rating"]}}</div>
            </div>
            <div class="row mb-3">
              <div class="col">Rating Date</div>
              <div class="col">{{b["rating_date"]}}</div>
            </div>
            <div class="row mb-3">
              <div class="col">Feedback</div>
              <div class="col">{{b["feedback"]}}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a a href="/user/rating/{{b['id']}}"><button type="button" class="btn btn-info">Edit</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col"><button class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#deleteModal{{b['id']}}">Delete!</button>
    </div>
    <div class="modal fade" id="deleteModal{{b['id']}}" tabindex="-1" aria-labelledby="deleteModal{{b['id']}}Label"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModal{{b['id']}}Label">Delete confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure that you want to delete the rating for the book <a
              href="/book/{{b['book_id']}}"><strong>{{b.book["name"]}}</strong></a>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="/user/rating/{{b['id']}}/delete"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
{%endfor%}
{%endif%}
</div>

<br><br><br><br>

<div>
  <h1>Not Rated</h1>
  <br>
  {%if not notrated%}
  <p class="text-muted">
    You have no pending ratings to give.</p>
  {%else%}
  <div class="row">
    <div class="col"><strong>S.no</strong></div>
    <div class="col"><strong>Book Name</strong></div>
    <div class="col"><strong>Section Name</strong></div>
    <div class="col"><strong>Author Name</strong></div>
    <div class="col"><strong>Create Button</strong></div>
  </div>
  <hr>
  {%for nr in notrated%}
  <div class="row">
    <div class="col">{{loop.index}}.</div>
    <div class="col"><a href="/book/{{nr}}">{{book[nr]["name"]}}</a></div>
    <div class="col">{{book[nr].section["name"]}}</div>
    <div class="col">{{book[nr]["author"]}}</div>
    <div class="col"><a href="/user/rating/{{nr}}/create"><button class="btn btn-info">Give rating!</button></a></div>
  </div>
  <hr>
  {%endfor%}
  {%endif%}
</div>
{% endblock %}